body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(193, 124, 224);
	background: linear-gradient(90deg, rgba(193, 124, 224, 1) 5%, rgba(24, 181, 193, 1) 49%, rgba(121, 68, 221, 1) 96%);
}

.card {
	height: 340px;
	width: 250px;
	position: relative;
	transition: all 1s linear;
	transform-style: preserve-3d;
}

.front,
.back {
	height: 340px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	border: 2px solid red;
	border-radius: 10px;
	position: absolute;
}

.front {
	background-color: aqua;
	z-index: 2;
	backface-visibility: hidden;
}

.back img {
	height: 340px;
	width: 250px;
}

.back {
	z-index: 1;
	transform: rotateY(180deg);
}

.container:hover .card {
	transform: rotateY(180deg);
}

.container {
	perspective: 1000px;
	margin-top: 50px;
}